.listContainer{
    //border: 1px solid #aaa;
    padding: 10px;
    .header{
        background-color: #aaa;
    }
}

.AddProBtn{
    width: 100%;
    height: 50px;
}

//.imgEdit:hover{
    .imgEdit img:hover{
        //opacity: 0.3;
    }
    .imgEdit label:hover{
        opacity: 1;
    }
//}

.imgEdit{
    background-color: #eee;
    height: 200px;
    text-align: center;
    label{
        position: absolute;
        left: 40%;
        top: 22%;
    }
    .op{
        opacity: 0;
    }
}

.priviewTable{
    overflow-x: auto;
    padding: 0;
    table{
        width: 150%;
        margin-bottom: 0;
    }
}
